<!-- About Section -->
<section id="about" class="text-secondary">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center text-uppercase mb-0">About Me</h2>
        <hr class="star-dark mb-5">
      </div>
    </div>
    <div class="row lead">
      <div class="col-sm">
        <p>
          I have 15+ years of experience as a software developer, and have worked
          at both small startups and large organizations.  I am an experienced
          full stack software developer specializing in the design of elegant and
          simple solutions with a focus on maintainability.
        </p>
        <p>
          I have a passion for new technology and languages.
          Continuous learning and personal development are part and parcel of the
          software industry and something that I embrace.
          I'm looking for a challenging and rewarding position with a progressive, dynamic
          organization, where product excellence is a focus.
        </p>
      </div>
      <div class="col-sm">
        <h3>Highlights</h3>
        <ul>
          <li>
            While working on
            <a target="_blank" href="https://www.questionmark.com/content/questionmark-analytics">
              Questionmark's analytics and reporting solution
            </a>
            significantly improved release times, manual testing time and escaped defects by
            the creation of an integration testing framework extending the functionality of WatIn.
          </li>
          <li>
            Performed a significant refactor of
            <a target="_blank" href="https://www.questionmark.com/content/distributed-authoring-and-item-management">
              Questionmark's question editors
            </a>
            via the use of JavaScript prototypes and inheritence.  This resulted in a
            significantly smaller, cleaner code base with shared functionality resulting
            in greater maintainability and reliability.
          </li>
          <li>
            Lead developer for
            <a target="_blank" href="https://integrity.castlerockresearch.com">
              "Integrity"
            </a>
            an innovative software as a service application
            that statistically detects cheating on tests.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
