<!-- About Section -->
<section id="about" class="text-secondary">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center text-uppercase mb-0">About Me</h2>
        <hr class="star-dark mb-5">
      </div>
    </div>
    <div class="row lead">
      <div class="col-sm">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam dicta,
          atque iste fugiat voluptatem. Sed, adipisci, libero! Tempora, debitis
          dignissimos temporibus alias similique assumenda, vel, ducimus,
          eligendi eum unde vitae.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Saepe laborum id, magnam harum ipsum debitis similique quaerat reprehenderit.
          Voluptatum perspiciatis nostrum voluptas nam nisi id, commodi cumque animi eos ad!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, eligendi.
        </p>
      </div>
      <div class="col-sm">
        <h3>Highlights</h3>
        <ul>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, aliquam.
            <a target="_blank" href="http://example.com/">
              Some link
            </a>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla minus, officia
            velit odit rerum nihil nemo aspernatur tenetur eum assumenda.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ipsa
            iure laboriosam illum perspiciatis qui at blanditiis quas facilis! Sit
            repellendus nam cumque reprehenderit quisquam sequi laudantium similique fugit
            labore, nostrum? Nemo quasi, omnis vel impedit. Molestiae amet, libero aspernatur.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, obcaecati.
            And another
            <a target="_blank" href="http://example.com/">
              Link
            </a>
            Lorem ipsum dolor sit amet.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
