<section id="interests" class="bg-primary text-white mb-0"">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-center text-uppercase text-white">Interests</h2>
        <hr class="star-light mb-5">
      </div>
    </div>
    <div class="row lead">
      <div class="col-sm">
        <p>
          My personal interests include:
        </p>
        <ul>
          <li>
            <span class="font-weight-bold">Interest one</span>.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, velit, maiores.
            Praesentium fugit sed asperiores quia, rerum voluptate quasi dicta repellendus ut quos in
            ipsa, nihil voluptatem doloremque
          </li>
          <li>
            <span class="font-weight-bold">Interest two</span>.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt consequuntur veniam at
            aliquam ratione ipsa.
          </li>
          <li>
            <span class="font-weight-bold">Interest3</span>.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus cumque sed molestiae
            praesentium perspiciatis eum ratione architecto voluptatem.
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <h3>Recent Projects</h3>
        <ul>
          <li>
            <a target="_blank" href="https://www.example.com/">
              <span class="font-italic font-weight-bold">SomeSiteIveBuilt.com</span>
            </a>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aut possimus, voluptatum
          libero dignissimos odit beatae doloribus delectus voluptatem rem adipisci aspernatur, l
          aborum. Distinctio fuga fugit mollitia optio libero at.
          </li>
          <li>
            <a target="_blank" href="https://example.com">
              <span class="font-italic font-weight-bold">SomethingElse.com</span>
            </a>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, molestiae.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
