<section id="interests" class="bg-primary text-white mb-0"">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-center text-uppercase text-white">Interests</h2>
        <hr class="star-light mb-5">
      </div>
    </div>
    <div class="row lead">
      <div class="col-sm">
        <p>
          My personal interests include:
        </p>
        <ul>
          <li>
            <span class="font-weight-bold">Functional programming</span>.  Functional programming
            is becoming more mainstream, with the growing popularity of Elixir and the
            Phoenix Framework.  It's a bit of a context switch, but the elegance of functions working
            against immutable data is quite appealing.  I've read
            a number of books on Elixir and find the subject fascinating.
          </li>
          <li>
            <span class="font-weight-bold">Music</span>.  I've been a lifelong music fan and
            enjoy checking out new albums, going to shows, and occasionally building out a
            custom bass guitar kit.
          </li>
          <li>
            <span class="font-weight-bold">Pullups</span>. What with my two left feet, I've never
            been particularily athletic.  I have discovered a fondness for bodyweight exercises
            and calisthenics however, someday I'll conquer a muscle up... maybe!
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <h3>Recent Projects</h3>
        <ul>
          <li>
            <a target="_blank" href="https://www.wheredidmycashgoyo.com/">
              <span class="font-italic font-weight-bold">WhereDidMyCashGoYo.com</span>
            </a>
          is a simple budget application I created a few years ago in order to learn Rails.
          It's become a core part of my financial planning regiment but the code
          hasn't seen a lot of love over the years.  I've been looking to remedy that as of late.
          </li>
          <li>
            <a target="_blank" href="https://experimentingwithcode.com">
              <span class="font-italic font-weight-bold">ExperimentingWithCode.com</span>
            </a>
            is my blog which covers my ongoing interest in various programming topics.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
